
<center>
	<h1 class = "Jumbotron"> Hello Admin! You have chosen to add new borrower. Enter the details of the Borrower</h1>
<div ng-controller="addBorrowerController">
	<h1>Enter Borrower Name:</h1><br/> <input type="text" ng-model="borrower.name"><br />
	<h1>Enter Borrower Address:</h1><br/> <input type="text" ng-model="borrower.address"><br />
	<h1>Enter Borrower Phone:</h1><br/> <input type="text" ng-model="borrower.phone"><br />
	<br/>
	
	
	<button type="button" class = "btn btn-primary" ng-click="addBorrower()">Add Borrower</button>
</div></center>
