<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div ng-controller="listBooksController">
	<h3>List of Books in LMS:</h3>
	
	<!-- Search Authors -->
	<div class="input-group">
			<input type="text" class="form-control" ng-model="searchString" placeholder="Search for..." ng-change="searchBooks()">
	</div>

	<!-- Pagination -->
	<div class="col-md-10" ng-if = "bookslist">
		<ul class="pagination">
			<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
			<li ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a href=""
				ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>

	<!-- Table -->
	<table class="table table-striped" ng-if = "bookslist">
		<tr>
			<th>#</th>
			<th ng-click="sortBooks()">Book Name</th>
			<th>Authors</th>
			<th>Genres</th>
			<th>Copies</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="b in books | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
			<td>{{$index+1}}</td>
			<td>{{b.title}}</td>
			<td><span ng-repeat="a in b.authors">{{a.authorName}}<span
					ng-if="!$last">, </span></span></td>
			<td><span ng-repeat="g in b.genres">{{g.genreName}}<span
					ng-if="!$last">, </span></span></td>
			<td>{{b.noCopies}}</td>
			<td><button type="button" class='btn btn-sm btn-primary'
					ng-click="editBooks()">Edit</button></td>
			<td><button class='btn btn-sm btn-danger' ng-click = deleteBook(b.bookId)>Delete</button></td>
		</tr>
	</table>
	
	<div class="container" ng-if ="editBook">
  <h2>Dynamic Tabs</h2>
  <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home1">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home1" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

	<!-- Modal to edit the authors -->
	<div class="modal fade bs-example-modal-lg" id="editBookModal"
		modal="editBookModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" ng-if="showEditBookModal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Update Book Details</h4>
					</div>
					<div class="modal-body">
						<p>Enter the details of the Book:</p>
						<input type="text" ng-model="book.title"> <br />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Update</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>